"APPEND successful" seems non-standard, should be "APPEND completed"

This goes also for COPY.

All RFCs use it: RFC2060, RFC2359, RFC3501, RFC3502, RFC4315 etc.

PR submitted.

Thanks for this I opened internal PR 