bug: fetch body of non-multipart message

## Expected Behavior
This issue occurs when a client is trying to fetch the body of a *non-multipart* message using the section path `1`, e.g. `UID FETCH <id> BODY.PEEK[1]`. This doesn't seem to be a problem with most clients, including the officially supported ones, since they fetch the entire message without supplying a section path, e.g. `UID FETCH <id> BODY.PEEK[]`. On the other hand, the former approach also seems to be valid according to the IMAPv4 standard. 
Regarding this [RFC 3501 Section 6.4.5](https://tools.ietf.org/html/rfc3501#section-6.4.5) reads
> Every message has at least one part number.  Non-[MIME-IMB]
> messages, and non-multipart [MIME-IMB] messages with no
> encapsulated message, only have a part 1.

## Current Behavior
Since the message the client is trying to fetch is a *non-multipart* message, the internal `BodyStructure` map has only one key: an empty string "". Therefore the fetch fails and the server returns `NO list message build: wrong section 1`. I think this was also causing #58 until a workaround was implemented on the client side.

## Possible Solution
This can be easily fixed with by checking if the message is a *non-multipart* message and and returning the entire message content when the client is trying to fetch section `1`. This effectively makes fetching the body with an empty section path equal to fetching with a section path `1` as per standard.

## Steps to Reproduce
1. Ask the bridge for `UID FETCH <id> BODY.PEEK[1]` with a message UID of a non-multipart message
2. The bridge will return `NO list message build: wrong section 1`

## Version Information
Tag `br-1.5.2`

## Context (Environment)
This seems not to be an issue with the officially supported clients at this moment. On the other hand, the fix is rather simple, would make the bridge more standard compliant and shouldn't affect any of the supported clients. Therefore, I would ask you to consider fixing this and making me and possibly some other power users of more obscure email clients very happy :)

## Possible Implementation
```diff
--- a/internal/imap/mailbox_message.go
+++ b/internal/imap/mailbox_message.go
@@ -377,6 +377,9 @@ func (im *imapMailbox) getMessageBodySection(storeMessage storeMessageProvider,
                case section.Specifier == imap.EntireSpecifier && len(section.Path) == 0:
                        //  An empty section specification refers to the entire message, including the header.
                        response, err = structure.GetSection(bodyReader, section.Path)
+               case section.Specifier == imap.EntireSpecifier && len(section.Path) == 1 && section.Path[0] == 1 && len(*structure) == 1:
+                       // Fetching section 1 of a non-multipart message with no specifier should return the only section.
+                       response, err = structure.GetSection(bodyReader, []int{})
                case section.Specifier == imap.TextSpecifier || (section.Specifier == imap.EntireSpecifier && len(section.Path) != 0):
                        // The TEXT specifier refers to the content of the message (or section), omitting the [RFC-2822] header.
                        // Non-empty section with no specifier (imap.EntireSpecifier) refers to section content without header.
```
(the line numbers might not exactly match the current master)


Power user of more obscure email client here.

I recently, reluctantly, migrated to ProtonMail from a self- (and poorly-) administered cloud host.

But I miss my VT-100 email client, Alpine v.2.24. So I installed and configured the bridge, and set up Alpine to talk to it, and it sort of works - but am getting this and related errors when parsing _some_ messages, not all. It makes sense if it is the non-multipart ones.

![image](https://user-images.githubusercontent.com/414414/111723143-77d6a080-8839-11eb-8997-1268d42d0fee.png)

Please put me down +1 

> Please put me down +1

Another +1. Exactly the same issue, same MUA (Alpine 2.21). I realize Alpine is not officially supported, and likely will never be, but I appreciate the proposed fix.

Seeing some interest on here, i have an update FWIW.

I cloned the source and built (using `make build-nogui` to simplify sorting out the dependencies, at the price of having no gui) the Bridge including the implementation suggested by @heilerich , with mixed results.

The fix appears to help the client parser get past the showstopper in the messages which the current Bridge release chokes on.
It is not a clean fix however, as it appears to corrupt the rest of the parsing process, the result being messages are displayed but with subsequent errors and a lot of noise.
![image](https://user-images.githubusercontent.com/414414/112372035-aa5b2000-8cb5-11eb-8ae0-9515cc9c1829.png)

Email client: Alpine 2.24 
O/S: Ubuntu 20.04

I would love to help implement a proper fix, and someday - when I have a month of Sundays at my disposal - I may make such an attempt.

In the meantime, I am actually still using it as illustrated, as it kind of works for some of what I want to do, for example manage most of the garbage in my inbox using the list view and keyboard shortcuts to delete and expunge it.

I have also encountered these errors before. I don't think what you are seeing is a problem caused by the proposed fix for the `BODY.PEEK[1]` problem, but rather a general problem with the bridge's message decoding (there are a lot of unsolved parsing issues in the GitHub Tracker, just try a search for RFC2047 for example).

The proposed patch essentially only makes the `BODY.PEEK[1]` and `BODY.PEEK[]` fetch commands deliver the same result. The lines 
```
response, err = structure.GetSection(bodyReader, section.Path)
```
and 
```
response, err = structure.GetSection(bodyReader, []int{})
```
should do the same thing since `section.Path` is of length 0 in the first case.

You can verify that this is unrelated to the patch by asking an unpatched version of the bridge for the same email with `BODY.PEEK[]` and you will get the same malformed response that you are encountering now.

So my guess is, that what's happening here is that the patch simply *exposes* the problematic emails rather than causing them. Without the patch Alpine never downloads those emails, so you don't notice them. With the patch it can download them and then complains about the encoding.

It is hard to say what's exactly wrong with the message on your screenshot, but I think it might merit a separate issue (if there isn't one already).

Thank you @heilerich for your additional insight.

As I have said, I am approximately one month of Sundays short of any time to work on this. To get as far as I did, I installed `golang`and the JetBrains Go IDE (on a 30 day trial mind you). When I am up for a multi-faceted challenge of learning new complicated protocols at the same time as a new programming language, a new debugger, QT, etc., .... euh. Perhaps you will understand the sentiment with an illustration
![image](https://user-images.githubusercontent.com/414414/112517570-d5ee1100-8d6e-11eb-9284-b218ca098bd1.png)


Just chiming in to add my +1 to this issue.

I cannot load a big part of my mailbox due to this bug.

we're looking into this. for internal reference - GODT-1162.

in the newest beta - 1.8.5 - we've fixed the behaviour here for emails with no MIME parts. Let us know if it doesn't work.

It took me a while to try the latest bridge and I am happy to report that it is now working, so far flawlessly, with Alpine 2.24 on Ubuntu 21.10.
Hats off to the individual and/or team who were able to sort this out. I am very grateful